* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 90px auto;
}

.header-title {
    margin-left: 120px;
    color: #3A3A3A;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-right: 0;
    padding-left: 150px;
    color: #3A3A3A;
    font-size: 16px;



}

.header ul li a {
    text-decoration: none;
}

/* banner section */


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    margin-left: 120px;
}

.banner-title {
    font-size: 52px;
    color: #3A3A3A;
    width: 582px;
    height: 133px;
    margin-bottom: 10px;

}

.banner-description {
    width: 505px;
    height: 60.9px;
    color: #3A3A3A;

    font-size: 16px;
}

.btn {
    color: #FFF;

    font-size: 16px;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: 0;
    cursor: pointer;
}

.banner-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding: 30px 30px 30px 0;
    margin-right: 132px;
}

.collection-title {
    text-align: center;
    margin-bottom: 30px;
}

.collection-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 210px 10px 210px;
    gap: 3px;




}

.item {

    padding-right: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 312px;
    height: 476px;
    /* border: 3px solid red; */
    margin-top: 20px;




}

.item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.item-title {
    font-size: 28px;
    color: #18191F;
    margin: 30px 20px 10px 12px;
}

.item-price {
    margin: 10px 20px 10px 12px;
    font-size: 24px;
}

.item-rating {
    margin: 5px 20px 10px 12px;
    color: #FB8200;
}

.item-description {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    margin: 5px 20px 10px 12px;
    width: 195px;
    height: 60px;
    letter-spacing: 0.252px;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    box-shadow: ;
}

.feature {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 25px;
    padding: 20px;
}

.content-title {
    color: #0A0826;
    margin-top: -30px;
    font-size: 30px;
    padding-bottom: 20px;
}

.feature-content .content-description {
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 16px;
}

.feature-content .btn {
    border-radius: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background: #0A0826;
    color: white;
    margin: ;
    padding: 50px 600px;
    gap: 10px;
}

.footer-title {}

footer .social {
    margin-top: 1rem;

}




@media screen and (max-width:576px) {

    .header {
        flex-direction: column;
        gap: 20x;
    }

    .header ul {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 70%;
        padding: 0;
        height: 100%;
        margin-left: 10px;



    }

    .banner-title {
        width: 100%;
        height: auto;

    }

    .banner-content {
        margin-right: 0px;
        font-size: 12px;
        /* margin-left: 200px; */
        width: 100%;
        /* height: 78px; */
    }

    .banner-description {
        width: 310px;
        height: 100%;
    }

    .banner-content {
        margin-left: 0;
    }

    .collection-items {
        grid-template-columns: repeat(1, 1fr);
        margin: ;

        margin: 10px 10px 10px 10px;
        gap: 3px;
    }

}